
<!--views/users/signup.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    Signup
    <form method="post" action="/users">
      <div>
        <input type="text" name="user[email]" placeholder="Email">
      </div>
      <div>
        <input type="text" name="user[password]" placeholder="Password">
      </div>
      <button>Save </button>
    </form>
  </body>
</html>